/* Save the date girando*/
.girar {
    animation: gira 10s infinite linear;
  }

  @keyframes gira {

      from {
          transform: rotate(0deg);
      }

      to {
          transform: rotate(180deg);
      }
  }

/* boton confirmación asistencia*/
.nav-list a:hover{
    transform: color;
    transition: .7s;
    cursor: pointer;
    color: var(--amarillo);
}

.nav-list .boton a:hover {
    color: var(--blanco);
    transition: .5s;
}

#boton-asistencia:hover {
    transform: color;
    color: var(--rosa);
    transition: .7s;
    cursor: pointer;
}

#boton-asistencia::before {  
    transform: scaleY(0);
    transform-origin: top right;
}
  
  #boton-asistencia:hover::before {
    transform: scaleY(1);
    transform-origin: top left;
}
  
  #boton-asistencia::before {
    content: "";
    display: block;
    position: absolute;
    height: 12em;
    padding: 2em;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: var(--blanco);
    z-index: 0;
    transition: transform .5s ease;
    border-radius: 1em;
    
}