/*VARIABLES*/

:root {
  --gris: #28292B;
  --blanco: #ffffff;
  --rosa: #FF4371;
  --amarillo: #FABC2A;
  --azul: #3066BE;
  --grisclaro: #92959c;
  --degradado: linear-gradient(0deg, #FF4371 11.01%, #3066BE 100%);
}

/*TIPOGRAFIAS*/

@font-face {
  font-family: "Freizeit";
  src: url(../fonts/Freizeit/FreizeitTrial-Light.otf);
  font-weight: 100;
}
@font-face {
  font-family: "Freizeit";
  src: url(../fonts/Freizeit/FreizeitTrial-Regular.otf);
  font-weight: 200;
}
@font-face {
  font-family: "Freizeit";
  src: url(../fonts/Freizeit/FreizeitTrial-Medium.otf);
  font-weight: 300;
}
@font-face {
  font-family: "Freizeit";
  src: url(../fonts/Freizeit/FreizeitTrial-Bold.otf);
  font-weight: 400;
}
@font-face {
  font-family: "Gela";
  src: url(../fonts/gela/gela.otf);
  font-weight: 100;
}